---
import svgNew from '../assets/new.svg'

const testimonials = [
  { 
    comment: `“Tại hạ may mắn khi không sinh cùng thời với thằng chủ web”`,
    author: {
      name: `Gia Cát Lượng`,
      pos: `Tư Mã Ý's Partner`,
      pic: `https://cdn-i.vtcnews.vn/upload/2025/12/22/gia-cat-luong-1-19005513.jpg`
    },
    cls: `rotate-2 -translate-y-10`
   },
   { 
    comment: `“Ngành dầu mỏ sụp đổ vì thằng chủ web đi xe đạp”`,
    author: {
      name: `Ông chú Dubai`,
      pos: `Chủ mỏ dầu hết hạn`,
      pic: `https://danviet.ex-cdn.com/files/f1/upload/3-2016/images/2016-07-19/146892269238491-dubai3-2923-1468921179.jpg`
    },
    cls: `-rotate-2 -translate-x-10  z-5`
   },
   { 
    comment: `“Tôi nghĩ mình hài hước cho đến khi nhìn vào cuộc đời thằng chủ web”`,
    author: {
      name: `Mr.Bean`,
      pos: `Nghệ sĩ hài nhân dân`,
      pic: `https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Atkinson_Rowan_crop.jpg/250px-Atkinson_Rowan_crop.jpg`
    },
    cls: `rotate-2 translate-x-5 z-5`
   },
   { 
    comment: `“Công ty tôi phá sản vì thằng chủ web không biết uống bia”`,
    author: {
      name: `Ông Beer`,
      pos: `Chủ tập đoàn bia rượu`,
      pic: `https://sasobeco.com.vn/wp-content/uploads/2021/11/phandangtuat.jpg`
    },
    cls: `-rotate-2 translate-y-10 md:translate-y-15`
   },
]
---


<section>
    <div class="max-w-4xl mx-auto pb-20 px-10 overflow-hidden">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="flex relative">
          <h1 class="text-3xl">Xem thử những ai đã nhận xét về thẳng chủ web</h1>
          <img src={svgNew.src} alt="arrow" width="40" class="absolute -right-3 md:-right-10 bottom-0" />
        </div>
      </div>
  
  
      <div class="grid grid-cols-1 md:grid-cols-2 py-30">
        {testimonials.map(item => ( 
          <div class={`flex flex-col gap-3 p-5 pr-15 bg-white border-2 shadow-[6px_6px_0px_rgba(0,0,0,0.3)] ${item.cls}`}>
            <p>{item.comment}</p>
            <div class="flex items-center gap-2">
              <div><div class="size-11 rounded-full border overflow-hidden">
                  <img src={item.author.pic} alt="" class="w-full h-full object-cover" />
              </div></div>
              <div>
                <h3 class="font-medium">{item.author.name}</h3>
                <p>{item.author.pos}</p>
              </div>
            </div>
          </div>
        ))}
      </div>
  
    </div>
   </section>
