---
import Bars from "./Bars.astro"
import { buy } from "../sample"

import svgUnderline from '../assets/underline.svg'
import arrowCard from '../assets/arrow-card.svg'
const portfolio = [
  { 
    name: 'Nextcloud',
    desc: 'Lưu trữ đám mây cá nhân',
    cover: 'https://cdn.simpleicons.org/nextcloud/0082C9',
    link: 'https://cloud.nguyen13.com'
  },
  { 
    name: 'Vaultwarden',
    desc: 'Tự quản lí mật khẩu trên internet',
    cover: 'https://cdn.simpleicons.org/bitwarden/175DDC',
    link: 'https://vault.nguyen13.com/'
  },
  { 
    name: 'Private AdguardHome',
    desc: 'Cài đặt trên server giúp chặn QC khi kết nối wifi',
    cover: 'https://cdn.simpleicons.org/adguard/68BC71',
  },
  { 
    name: 'Home Assistant',
    desc: 'Điều khiển mọi thiếu bị IOT trong nhà',
    cover: 'https://cdn.simpleicons.org/homeassistant/41BDF5',
    link: 'https://stupidhome.nguyen13.com'
  },
]
---

<section class="py-25 space-y-10 px-5" id="work">
  <div class="max-w-md mx-auto relative ">
    <h1 class="text-4xl font-medium text-center">My Homelab Services</h1>
    <img src={svgUnderline.src} alt="arrow" width="140" 
         class="absolute left-1/2 -translate-x-1/2 -bottom-1" />
  </div>

  <div class="max-w-3xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10"> 
    {portfolio.map(item => ( 
      <a href={item.link} target="_blank"
         class="flex flex-col bg-white p-5 group relative cursor-pointer transition-all duration-200 hover:shadow-[4px_4px_0px_rgba(0,0,0,0.3)]">
        
        <div class="w-full h-[180px] border-2 flex items-center justify-center bg-slate-100 group-hover:bg-slate-200 transition-all duration-300">
          <img src={item.cover} 
               class="max-h-[80px] object-contain transition-all duration-300 group-hover:scale-110" />
        </div>

        <div class="space-y-1 pt-4">
          <div class="flex pr-2">
            <h2 class="text-xl font-medium flex-1">{item.name}</h2>
            <img src={arrowCard.src} alt="arrow" width="25" />
          </div>
          <p class="mr-20">{item.desc}</p>
        </div>

        <Bars />
      </a>
    ))}
  </div>
</section>
